body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(background.jpeg);
    color: #3b106d;
}

header {
    background: #d63384;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

button {
    background: #d63384;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #ad2168;
}

form {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #eee;
}
.whatsapp-btn {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 12px 15px;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
}

/* Dark Mode */
body.dark {
    background: #222;
    color: #eee;
}

body.dark header {
    background: #000;
}